In this notebook we are going to perform an exploratory analysis of the data regarding the power production collected from the DATA CELLAR API.

In [1]:
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import json
import pandas as pd

### Obtain the dataset

In [2]:
file = "/nfs/home/medoro/Unsupervised_Anomaly_Detection_thesis/data/power_production.json"

In [3]:
with open(file) as train_file:
    dict_train = json.load(train_file)

In [4]:
# converting json dataset from dictionary to dataframe
train = pd.DataFrame.from_dict(dict_train)
train.reset_index(level=0, inplace=True)
train

,index,_id,user_id,local_date_str,datetime,data
0,0,6500634d2838e89d806105d7,ES0184000000051513CQ0FA000,2023-05-22,2023-05-21T22:00:00,"{'type': 'b11', 'generation_kwh': 0, 'nominal_..."
1,1,6500634d2838e89d806105d6,ES0184000000051513CQ0FA000,2023-05-22,2023-05-21T23:00:00,"{'type': 'b11', 'generation_kwh': 0, 'nominal_..."
2,2,6500634d2838e89d806105d5,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T00:00:00,"{'type': 'b11', 'generation_kwh': 0, 'nominal_..."
3,3,6500634d2838e89d806105d4,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T01:00:00,"{'type': 'b11', 'generation_kwh': 0, 'nominal_..."
4,4,6500634d2838e89d806105d3,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T02:00:00,"{'type': 'b11', 'generation_kwh': 0, 'nominal_..."
...,...,...,...,...,...,...
4995,4995,6581d5c5d2b2610b28925943,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T13:00:00,"{'type': 'b11', 'generation_kwh': 15.08, 'nomi..."
4996,4996,6581d5c5d2b2610b28925942,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T14:00:00,"{'type': 'b11', 'generation_kwh': 14.9, 'nomin..."
4997,4997,6581d5c5d2b2610b28925941,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T15:00:00,"{'type': 'b11', 'generation_kwh': 13.18, 'nomi..."
4998,4998,6581d5c5d2b2610b28925940,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T16:00:00,"{'type': 'b11', 'generation_kwh': 9.15, 'nomin..."
4999,4999,6581d5c5d2b2610b2892593f,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T17:00:00,"{'type': 'b11', 'generation_kwh': 1.78, 'nomin..."

In [5]:
train.user_id.nunique()

1

In [6]:
train.local_date_str.nunique()

211

The measurements are related to the energy production made by a single producer throughout a period of time which goes from the 21st of may to the 18th of december, for a total of about 7 months (30 * 2 + 31 * 5 = 215 gg).

In [7]:
data_col = list(train['data'].values)
type = []
generation_kwh = []
nominal_power_w = []
for row in data_col:
    type.append(row['type'])
    generation_kwh.append(row['generation_kwh'])
    nominal_power_w.append(row['nominal_power_w'])
train['type'] = type
train['generation_kwh'] = generation_kwh
train['nominal_power_w'] = nominal_power_w
train.drop(['data'], axis = 1, inplace = True)
train

,index,_id,user_id,local_date_str,datetime,type,generation_kwh,nominal_power_w
0,0,6500634d2838e89d806105d7,ES0184000000051513CQ0FA000,2023-05-22,2023-05-21T22:00:00,b11,0.00,20000
1,1,6500634d2838e89d806105d6,ES0184000000051513CQ0FA000,2023-05-22,2023-05-21T23:00:00,b11,0.00,20000
2,2,6500634d2838e89d806105d5,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T00:00:00,b11,0.00,20000
3,3,6500634d2838e89d806105d4,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T01:00:00,b11,0.00,20000
4,4,6500634d2838e89d806105d3,ES0184000000051513CQ0FA000,2023-05-22,2023-05-22T02:00:00,b11,0.00,20000
...,...,...,...,...,...,...,...,...
4995,4995,6581d5c5d2b2610b28925943,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T13:00:00,b11,15.08,20000
4996,4996,6581d5c5d2b2610b28925942,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T14:00:00,b11,14.90,20000
4997,4997,6581d5c5d2b2610b28925941,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T15:00:00,b11,13.18,20000
4998,4998,6581d5c5d2b2610b28925940,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T16:00:00,b11,9.15,20000
4999,4999,6581d5c5d2b2610b2892593f,ES0184000000051513CQ0FA000,2023-12-18,2023-12-18T17:00:00,b11,1.78,20000

In [8]:
train.drop(['index', '_id'], axis = 1, inplace = True)

In [9]:
train.type.nunique(), train.nominal_power_w.nunique()

(1, 1)

In [10]:
train.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          5000 non-null   object
 1   local_date_str   5000 non-null   object
 2   datetime         5000 non-null   object
 3   type             5000 non-null   object
 4   generation_kwh   5000 non-null   float64
 5   nominal_power_w  5000 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 234.5+ KB

No need for imputation of missing values. 

We need though to impute missing dates, so that is what we are going to do next, before saving the dataset.

In [11]:
def impute_missing_dates(dataframe):
  """
  Take first and last timestamp available. Create a new index starting from these two values, making sure that the index is 
  sampled with 1 hour jump. Use ffill to impute the missing values for the dates newly created.
  """
  dataframe = dataframe.set_index(['datetime'])
  start_ts = min(dataframe.index)
  end_ts = max(dataframe.index)
  new_index = pd.date_range(start_ts, end=end_ts, freq="1H")
  new_df = dataframe.reindex(new_index, method = "ffill")
  return new_df

In [12]:
train['datetime'] = pd.to_datetime(train['datetime'])
train = impute_missing_dates(train)

Let's now save the created dataframe into a csv, so that it is easily accessible for the next steps.

In [14]:
train.to_csv("/nfs/home/medoro/DC-anomaly-production/data/datacellar_production.csv", index = False)